/* General Styles */
* {
  font-family: "poppin", sans-serif;
}

body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #044fc8;
    height: 35px;
    padding: 0px 5%;
    color: white;
  }
  
  .navbarPages UL {
    background-color: #044fc8;
  }
  
  .logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .logo a:hover {
    color: yellow;
  }
  
  .navbarPages ul {
    list-style: none;
    display: flex;
  }
  
  .navbarPages ul li {
    margin: 0 15px;
  }
  
  .navbarPages ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbarPages ul li a:hover {
    border-bottom: 1PX solid yellow;
    padding-bottom: 6px;
    color: yellow;
  }
  
  /* Language Dropdown */
  .language {
    position: relative;
    cursor: pointer;
    background-color: #007bff;
  }
  
  .mainLang {
    background: #044fc8;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    list-style: none;
  }
  
  .langDropdown {
    position: absolute;
    top: 25px;
    left: 0;
    background: #044fc8;
    color: white;
    list-style: none;
    padding: 5px;
    display: none;
  }
  
  .language:hover .langDropdown {
    display: block;
  }
  
  .langDropdown li{
    margin-top: 5px;
    padding: 5px;
  }
  
  .langDropdown li:hover {
    color: yellow;
    border-bottom: 1px solid yellow;
  }
  
  /* Toggle Button */
  .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  

  /* Introduction Style */
  main {
    /* background: rgba(0, 0, 0, 0.6); */
    /* background-color: #63cfda; */
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .hero {
    padding: 40px;
    width: 80%;
    margin: auto;
    display: flex;
}

.hero img {
    width: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    color: #0a1459;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    text-align: justify;
    font-weight: 500;
    color: #0a1459;
}

.hero .intro-container p span {
  color: yellow;
  font-weight: bold;
}

.img-container {
  margin-left: 40px;
}

.social-icons {
  padding-bottom: 25px;
  text-align: center;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: black;
    transition: 0.3s;
}

.social-icons a:hover {
  text-shadow: 0px 0px 10px rgb(160, 160, 0), 
               0px 0px 20px rgb(160, 160, 0), 
               0px 0px 30px rgb(160, 160, 0);
}

.social-icons a i:hover {
  scale: 115%;
}

/* Border Animation */
.red-border {
  width: 100%;
  height: 15px; /* Adjust height */
  background-color: red;
  position: relative;
}

.red-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, 
      yellow, red, #044fc8, yellow, red, #044fc8);
  background-size: 300% 100%;
  animation: moveGradient 10s linear infinite;
}

@keyframes moveGradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .navbarPages {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      background: #333;
      display: none;
      margin: 0;
      flex-direction: column;
      text-align: center;
    }
  
    .navbarPages ul {
      flex-direction: column;
      background-color: rgb(4, 79, 200, 0.8);
    }
  
    .navbarPages ul li {
      padding: 10px 0;
    }
  
    .navbarPages.active {
      display: flex;
      top: 35px;
      padding: 0;
    }

    /* intorduction Section Style */
    .hero {
      padding: 40px;
      width: 80%;
      margin: auto;
      display: block;
  }
  
  /* Loading Overlay */
  #loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  







 
  