* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Audiowide", sans-serif;
    background-color: #331c52;
}

.Nav {
    height: 50px;
    background-color: #8121d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav-logo {
    font-size: 20px;
    margin-left: 25px;
    font-weight: 900;
}

.Nav-logo a {
    color: white;
    text-decoration: none;
}

.Nav-links a {
    font-size: 20px;
    margin-right: 25px;
    font-weight: 900;   
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.Nav-links a:hover {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.main-section {
    background-image: url('assets/Main banner.png');
    height: 100px;
    width: 100px;
}

.main-banner img {
    height: 100%;
    background-position: center;
    background-size: cover;
}

.introduction-section {
    background-color: black;
    width: 25%;
    font-size: 25px;
    text-align: justify;
}

.my-introduction {
    color: white;
}

.My-name {
    color: red;
}